<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>

    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url'),
              name : 'Heroku Cloudstock Charity Vote',
              picture : document.location.protocol + '//' + document.location.host + '//images/logo-heroku.png',
              caption : 'Vote for a charity donation',
              description : 'Your vote counts too. Vote for a charity donation by Heroku at Cloudstock.'
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('.sendToFriends').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url'),
              name : 'Heroku Cloudstock Charity Vote',
              picture : document.location.protocol + '//' + document.location.host + '/' + $(this).attr('data-logo-url'),
              caption : 'I voted for ' + $(this).attr('data-name'),
              description : 'Your vote counts too. Vote for a charity donation by Heroku at Cloudstock.'
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('.vote-button.enabled').live('click', function(event){
          event.preventDefault();
          var charity = $(this).parents('.charity');
          $.post('/vote', { charity_id: charity.attr('data-id') }, function(data) {
            if (data.success) {
              // Disable the vote buttons
              $('.vote-button').each(function(){
                $(this).removeClass('enabled');
              });

              // Enable the share button
              $('.share-button', charity).addClass('enabled');

              // Change the vote button to 'voted'
              $('.vote-button', charity)
                .html('<span class="voted-button">Voted</span>')
                .removeClass('vote-button').addClass('voted-button');

              // Update the vote counts
              for (var key in data.vote_counts) {
                $('.charity[data-id=' + key + '] .votes').html(data.vote_counts[key] + ' votes');
              }
            } else {
              alert("Oops! There was a problem registering your vote.\nPlease try again later!");
            }
          });
        });
      });
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",                     // App ID
          channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
          status     : true,                                    // check login status
          cookie     : true,                                    // enable cookies to allow the server to access the session
          xfbml      : true                                     // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so Ruby can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <% if @user %>
      <header class="clearfix">
        <p id="user" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture)">
          Welcome, <strong><%= @user['name'] %></strong>
        </p>
          <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
            <span class="plus">Post to Wall</span>
          </a>
      </header>

      <section id="charities" class="clearfix">
        <h3><a href="http://heroku.com"><img src="/images/logo-heroku.png" alt="heroku" border="0" /></a></h3>
        <h1>Vote for a charity donation at Cloudstock</h1>
        <ul>
          <% @charities.each do |charity| %>
            <li class="charity" data-id="<%= charity['Id'] %>" data-name="<%= charity['Name'] %>">
              <a class="logo" href="<%= charity['URL__c'] %>" title="<%= charity['Id'] %>" style="background: url(<%= charity['Logo_URL__c'] %>) no-repeat center center">
              </a>
              <nav>
                <p class="votes">
                  <%= @vote_counts[charity['Id']].to_s %>
                  <small><%= ((@vote_counts[charity['Id']] == 1) ? ' vote' : ' votes') %></small>
                </p>
                <% if @voted && @voted.charity_id == charity['Id'] %>
                  <a href="#" class="facebook-button voted-button<%= ' enabled' unless @voted %>">
                    <span class="voted-button">
                      Voted
                    </span>
                  </a>
                <% else %>
                  <a href="#" class="facebook-button vote-button<%= ' enabled' unless @voted %>">
                    <span class="vote-button">
                      Vote
                    </span>
                  </a>
                <% end %>
                <a href="#" class="sendToFriends facebook-button speech-bubble share-button<%= ' enabled' if @voted && @voted.charity_id == charity['Id'] %>"
                    data-url="<%= url %>" data-logo-url="<%= charity['Logo_URL__c'] %>" data-name="<%= charity['Name'] %>">
                  <span class="speech-bubble">Share with Friends</span>
                </a>
              </nav>
            </li>
          <% end %>
        </ul>
      </section>

      <section id="votes" class="clearfix">
        <h3><%= [@vote_total.to_s, ((@vote_total == 1) ? 'vote' : 'votes')].join(' ') %>, from people including:</h3>
        <ul class="photos clearfix">
          <% @votes.each do |vote| %>
            <li>
              <a href="#" onclick="window.open('http://www.facebook.com/<%= vote.user_id %>')">
                <img src="https://graph.facebook.com/<%= vote.user_id %>/picture" />
              </a>
            </li>
          <% end %>
          <% if @votes.count < 11 %>
            <% (11 - @votes.count).times do %>
              <li></li>
            <% end %>
          <% end %>
        </ul>
      </section>
    <% else %>
      <div>
        <h1>Welcome to the Cloudstock 2012 Heroku Charity App</h1>
          <a href='/auth/facebook' class="fb_button fb_button_medium">
            <span class="fb_button_text">Log In</span>
          </a>
      </div>
    <% end %>

  </body>
</html>